#RewriteEngine Off
#RedirectPermanent c://xampp/htdocs/poec_php/Anthony/MVC/index.php
#RedirectPermanent /var/www/html/siteweb/imie/modeliserObjetsMVC/modif8Final/index.php
#/home/toto/expose1.html http://www.eleves.ens.fr/home/toto/exposes/1.html
